<%- include('../../partials/page_start', {title:'Employers', description: 'Browse all of the currently registered employers with Work Hays and contact information. Are you an employer? <a class="underline hover:opacity-100" href="/signup">Click here to sign up!</a>',paddingBottom:'pb-32'}) %>

<div class="max-w-4xl mx-auto px-4 lg:px-0">
        <div class="bg-white shadow rounded -mt-8 overflow-hidden">
            <ul>
                <% employers.forEach(function(employer,index) { %>
                    <% if(employer.title) { %>
                        <li class="<%= index === 0 ? 'border-t-none' : 'border-t-2' %> border-gray-100 hover:bg-gray-50 transform transition ease-in-out duration-75 group">
                            <a href="/employers/<%= employer.id %>?from=<%= req.originalUrl %>" class="block w-full p-4 flex justify-between items-center">
                                <div class="w-8 h-8 bg-gray-300 bg-center bg-cover rounded-full shadow mr-2 items-center justify-center text-center flex text-sm font-bold text-white" 
                                style="<%= employer.logo_url ? `background-image:url('${employer.logo_url.replace('public/','/')}')` : 'background-image: linear-gradient( 90deg, rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );'%>">
                                    <%= employer.logo_url === '' ? employer.title.charAt(0) : null %>
                                </div>
                                <div class="w-3/5 transform transition ease-in-out duration-150 group-hover:translate-x-1">
                                    <div class="text-xs text-gray-500 leading-none">
                                        <%= employer.contact %>
                                    </div>
                                    <div class="font-bold truncate group-hover:underline group-hover:text-blue-500">
                                        <%= employer.title %>
                                    </div>
                                </div>
                                <div class="flex flex-1 items-center justify-end">
                                    <span class="text-sm antialiased mr-2 hidden md:inline-block">
                                        View Details
                                    </span>
                                    <i data-feather="arrow-right" class=""></i>
                                </div>
                            </a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
    </div>
    <div>
        <div class="flex justify-between mt-4 md:px-0 items-center">
            <div class="text-sm">
                <p class="text-gray-600">
                    Page
                    <span class="font-bold text-blue-500">
                        <%= current_page %>
                    </span>
                    of
                    <span class="font-bold text-blue-500">
                        <%= pages %>
                    </span>
                </p>
            </div>
            <div>
                <% if(current_page <= pages && current_page !== 1) { %>
                <a
                    href="/employers?page=<%= current_page - 1 %>"
                    class="relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-500 active:bg-gray-100 active:text-gray-700 transition transform ease-in-out duration-150 shadow hover:-translate-y-0.1"
                >
                    Previous
                </a>
                <% } else { %>
                <div
                    disabled
                    class="relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white cursor-not-allowed opacity-50"
                >
                    Previous
                </div>
                <% } %> 
                <% if(current_page < pages) { %>
                <a
                    href="/employers?page=<%= current_page + 1 %>"
                    class="ml-3 relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-500 active:bg-gray-100 active:text-gray-700 transition transform ease-in-out duration-150 shadow hover:-translate-y-0.1"
                >
                    Next
                </a>
                <% } else { %>
                <div
                    disabled
                    class="ml-3 relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white cursor-not-allowed opacity-50 shadow"
                >
                    Next
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/page_end') %>
