<%- include('../../partials/page_start',{title: 'Current Job Openings', description: 'Browse current job openings in Hays, KS and surrounding communities. Are you an employer? Post your jobs for free, <a class="underline hover:opacity-100" href="/signup">click here to sign up!</a>',paddingBottom:'pb-40 md:pb-16', meta: 'Browse current job openings in Hays, KS and surrounding communities. Post your job openings for free and generate more qualified job canidates.' }) %>

<!--Ad-->
<!--
<div
  class="max-w-4xl mx-auto p-4 my-4 justify-between items-center rounded-lg shadow-lg bg-center bg-cover space-y-4"
  style="
        background-image: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 100%),url('/images/ads/sizewise-background.jpeg');"
>
  <div>
    <p class="text-xl font-black tracking-wide" style="color:#0071ba;">Sizewise Manufacturing and Sizewise is hiring!</p>
    <p class="text-blue-900">Sizewise Manufacturing and Sizewise manufacturing is hiring a wide range of positions. Explore career opportunities today.</p>
  </div>
  <div class="flex flex-col md:flex-row flex-wrap space-y-4 md:space-y-0 md:space-x-4 text-sm">
    <a href="https://workhays.com/jobs/43a3aff8-44c2-4c83-bda4-4e4667121271?ad_campaign=1" class="text-center rounded bg-gradient-to-b from-green-600 to-green-700 text-white shadow px-5 py-2 hover:bg-green-200">Customer Care Representative</a>
    <a href="https://workhays.com/jobs/e5f6ad96-e909-48be-8a70-3bcb38cdb3a1?ad_campaign=1" class="text-center rounded bg-gradient-to-b from-green-600 to-green-700 text-white shadow px-5 py-2 hover:bg-green-500">Customer Service Agent</a>
    <a href="https://workhays.com/jobs/dfa5634e-4cca-49a2-8e34-03b607e23abf?ad_campaign=1" class="text-center rounded bg-gradient-to-b from-green-600 to-green-700 text-white shadow px-5 py-2 hover:bg-green-500">Order Fulfillment Clerk</a>
    <a href="https://workhays.com/jobs/60b67a47-be8d-4abb-8cc2-c6a83d764dca?ad_campaign=1" class="text-center rounded bg-gradient-to-b from-green-600 to-green-700 text-white shadow px-5 py-2 hover:bg-green-500">Assembler</a>
  </div>
</div>
-->
<!-- <div class="mx-4 lg:mx-0 mb-12">
    <div class="max-w-4xl mx-auto p-4 my-4 flex flex-wrap justify-between items-center rounded-lg shadow-lg bg-center bg-cover"
        style="
        background-image: linear-gradient(94deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.6) 100%),url('https://images.unsplash.com/photo-1478061653917-455ba7f4a541?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1333&q=80');">
        <div class="w-full md:w-3/4 mb-4 lg:mb-0">
            <p class="text-xl font-black tracking-wide" style="color:#0071ba;">
                DSNWK Is Hiring!
            </p>
            <p class="text-blue-900">
                Help individuals with disabilities live with purpose. DSNWK has multiple positions available
                in Hays, Victoria, and Russell.
            </p>
        </div>
        <div class="flex justify-end">
            <a target="_blank" href="https://www.mydsnwk.org/" class="rounded bg-green-400 text-white shadow px-5 py-2 hover:bg-green-500">Apply Today</a>
        </div>
    </div>
</div> -->


<div class="max-w-4xl mx-auto px-4 lg:px-0 my-4 flex flex-wrap justify-between items-center">

    <!-- Industry Select-->
    <div x-data="filters()" class="inline-block relative w-full md:w-1/3">
        <select
            x-on:change="categorySelect(event)"
            class="block appearance-none w-full bg-white shadow px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            <option hidden>Select Industry...</option>
            <option disabled>Select Industry...</option>
            <option value="default" <%= !req.query.industry ? 'selected' : null %>>All Industries</option>
            <% industries.forEach(function(industry) { %>
            <option value="<%= industry.value %>" <%= req.query.industry === industry.value ? 'selected' : null %>>
                <%= industry.title %></option>
            <% }) %>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
    </div>

    <!-- Search -->
    <div>

    </div>

    <script>
        function filters() {
            return {
                categorySelect: function (event) {
                    var industry = event.target.value
                    if(industry === 'default') {
                        window.location.replace("/");
                    } else {
                        window.location.replace("/?industry=" + industry);
                    }
                }
            }
        }
    </script>
</div>

<div class="max-w-4xl mx-auto px-4 lg:px-0">
    <% if(count === 0) { %>
    <div class="py-20 bg-gray-200 shadow-inner rounded">
        <p class="text-gray-500 text-center px-4">
            There are currently no jobs listed under this category, please check back soon.
        </p>
    </div>
    <% } %>
    <div class="bg-white shadow rounded overflow-hidden">
        <ul>
            <% jobs.forEach(function(job,index) { %>
                <li class="<%= index === 0 ? 'border-t-none' : 'border-t-2' %> border-gray-100 hover:bg-gray-50 transform transition ease-in-out duration-75 group">
                    <a href="/jobs/<%= job.id %>?from=<%= req.originalUrl %>" class="block w-full p-4 flex justify-between items-center">
                        <div class="w-4/5 transform transition ease-in-out duration-150 group-hover:translate-x-1">
                            <div class="text-xs text-gray-500 leading-none">
                                <%= job.employer.title %>
                            </div>
                            <div class="font-bold truncate group-hover:underline group-hover:text-blue-500">
                                <%= job.title %>
                            </div>
                        </div>
                        <div class="flex flex-1 items-center justify-end">
                            <span class="text-sm antialiased mr-2 hidden md:inline-block">
                                <%= moment.utc(job.renewed).local().format('ll')%>
                            </span>
                            <i data-feather="arrow-right" class=""></i>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>

<div class="max-w-4xl mx-auto px-4 lg:px-0">
    <div class="flex justify-between mt-4 md:px-0 items-center">
        <div class="text-sm">
            <p class="text-gray-600">
                Page
                <span class="font-bold text-blue-500">
                    <%= current_page %>
                </span>
                of
                <span class="font-bold text-blue-500">
                    <%= pages %>
                </span>
            </p>
        </div>
        <div>
            <% if(current_page <= pages && current_page !== 1) { %>
            <a
                href="/?page=<%= current_page - 1 %><%= req.query.industry ? '&industry='+req.query.industry : null %>"
                class="relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-500 active:bg-gray-100 active:text-gray-700 transition transform ease-in-out duration-150 shadow hover:-translate-y-0.1"
            >
                Previous
            </a>
            <% } else { %>
            <div
                disabled
                class="relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white cursor-not-allowed opacity-50"
            >
                Previous
            </div>
            <% } %>
            <% if(current_page < pages) { %>
            <a
                href="/?page=<%= current_page + 1 %><%= req.query.industry ? '&industry='+req.query.industry : null %>"
                class="ml-3 relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-500 active:bg-gray-100 active:text-gray-700 transition transform ease-in-out duration-150 shadow hover:-translate-y-0.1"
            >
                Next
            </a>
            <% } else { %>
            <div
                disabled
                class="ml-3 relative inline-flex items-center px-3 py-2 text-sm font-medium rounded text-gray-700 bg-white cursor-not-allowed opacity-50 shadow"
            >
                Next
            </div>
            <% } %>
        </div>
    </div>
</div>

<div class="px-4 lg:px-0 my-12 lg:mx-auto max-w-4xl">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Above Jobs -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6897603353765760" data-ad-slot="1251031635"
        data-ad-format="rectangle, horizontal" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div x-data="newsletter()" class="max-w-4xl mx-auto px-4 lg:px-0">
    <div class="my-12">
        <div class="text-2xl font-bold leading-2">
            Sign up for our weekly newsletter
        </div>
        <div class="antialiased">
            Sign up for our weekly email update, letting you know about the latest job
            openings. Unsubscribe at anytime.
        </div>
        <div x-show="!showSuccess" class="mt-4 w-full md:max-w-lg flex items-center flex-wrap">

            <input x-model="contact_me_by_phone_only" type="checkbox" name="contact_me_by_phone_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

            <input x-model="email" placeholder="you@example.com" class="mr-0 lg:mr-3 mb-3 lg:mb-0 w-full lg:w-2/3 rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" />

            <button x-on:click="onSubmit" class="w-full lg:w-auto px-3 py-2 text-sm font-medium rounded text-white bg-green-400 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-green-400 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
                <span x-text="button">Sign Up</span>
            </button>
        </div>
        <div x-show="showSuccess" style="display:none;" class="mt-4 w-auto items-center bg-green-400 px-4 py-2 rounded shadow text-white">
            <div class="flex items-center">
                <i data-feather="check" class="w-6 mr-2"></i>
                <span class="mr-2 font-medium">Success!</span>
            </div>
            <p class="text-green-50">
                You have successfully signed up for our weekly email update.
            </p>
        </div>
        <div x-show="showInvalidEmail" class="mt-3 text-sm text-red-500 text-gray-900" style="display:none;">
            Please enter a valid email
        </div>
    </div>
</div>

<script>
    function newsletter() {
        return {
            showSuccess: false,
            showInvalidEmail: false,
            email: '',
            button: 'Sign Up',
            contact_me_by_phone_only: 0,
            validate: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            onSubmit: function () {
                var _this = this
                this.button = 'Loading...'
                if(this.validate(this.email)) {
                    // email is valid, send to server
                    this.subscribe(this.email).then(function(data) {
                        console.log(data)
                        _this.showSuccess = true
                        _this.email = ''
                        _this.showInvalidEmail = false
                    })

                } else {
                    this.button = 'Sign Up'
                    this.showInvalidEmail = true
                }
            },
            subscribe: async function (email) {
                try {
                    // send post request to subscribe
                    const response = await fetch('/api/subscribe', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            contact_me_by_phone_only: this.contact_me_by_phone_only,
                            email: email
                        })
                    })

                    // parse JSON response
                    return await response.json()

                } catch (err) {
                    window.alert('Error. Something went wrong. Please try again')
                }
            }
        }
    }
</script>

<%- include('../../partials/page_end') %>
