<%- include('../../partials/page_start', {title:job.title, description: `Posted ${moment.utc(job.createdAt).local().format('ll')}. Apply for this position with ${job.employer.title} today or contact ${job.employer.contact} for more information.`, paddingBottm: 'pb-20'}) %>

<div class="max-w-4xl mx-auto px-4 lg:px-0">
    <div class="-mt-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <% if (job.application_link) { %>
                <a href="<%= job.application_link %>" target="_blank" class="bg-white shadow rounded p-4 overflow-hidden flex flex-row justify-between items-center transition transform ease-in-out duration-150 hover:-translate-y-0.1 group">
                    <span class="font-medium text-gray-700 group-hover:underline truncate">
                        Apply Online
                    </span>
                    <i data-feather="external-link" class="w-6 h-6 text-indigo-500"></i>
                </a>
            <% } %>
            <% if (job.employer.dataValues.phone) { %>
                <a href="tel:<%= job.employer.dataValues.phone %>" class="bg-white shadow rounded p-4 overflow-hidden flex flex-row justify-between items-center transition transform ease-in-out duration-150 hover:-translate-y-0.1 group">
                    <span class="font-medium text-gray-700 group-hover:underline truncate">
                        <%= job.employer.dataValues.phone %>
                    </span>
                    <i data-feather="phone" class="w-6 h-6 text-indigo-500"></i>
                </a>
            <% } %>

            <% if (job.employer.dataValues.email) { %>
                <a href="mailto:<%= job.employer.dataValues.email %>" class="bg-white shadow rounded p-4 overflow-hidden flex flex-row justify-between items-center transition transform ease-in-out duration-150 hover:-translate-y-0.1 group">
                    <span class="font-medium text-gray-700 group-hover:underline truncate">
                        <%= job.employer.dataValues.email %>
                    </span>
                    <i data-feather="mail" class="w-6 h-6 text-indigo-500"></i>
                </a>
            <% } %>

            <a href="/employers/<%= job.employer.dataValues.id %>?from=<%= req.originalUrl %>" class="bg-white shadow rounded p-4 overflow-hidden flex flex-row justify-between items-center transition transform ease-in-out duration-150 hover:-translate-y-0.1 group">
                <span class="font-medium text-gray-700 group-hover:underline truncate">
                    View Employer
                </span>
                <i data-feather="arrow-right" class="w-6 h-6 text-indigo-500"></i>
            </a>

        </div>
    </div>
</div>

<div class="max-w-4xl mx-auto px-4 lg:px-0 my-8">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
        <div class="col-span-1 md:col-span-4 md:pr-4 mb-12 md:mb-0">
            <label class="text-sm text-gray-500">
                Description
            </label>
            <div class="leading-7 text-gray-900 antialiased">
                <%- job.description %>
            </div>
        </div>
        <div class="col-span-1 md:col-span-2">
            <div class="p-4 bg-white rounded shadow">
                <div class="mb-6">
                    <label class="text-sm text-gray-500">
                        Position Title
                    </label>
                    <div class="text-sm text-gray-900">
                        <%= job.title %>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="text-sm text-gray-500">
                        Full Time / Part Time
                    </label>
                    <div class="text-sm text-gray-900">
                        <% if(job.job_type === 'full_time') { %>
                            <span>Full Time</span>
                            <% } else { %>
                            <span>Part Time</span>
                        <% } %>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="text-sm text-gray-500">
                        Employer
                    </label>
                    <div class="mt-1 text-sm text-gray-900">
                        <a class="text-blue-600 hover:underline" href="/employers/<%= job.employer.dataValues.id %>?from=<%= req.originalUrl %>">
                            <%= job.employer.dataValues.title %>
                        </a>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="text-sm text-gray-500">
                        Employer Contact
                    </label>
                    <div class="mt-1 text-sm text-gray-900">
                        <%= job.employer.dataValues.contact %>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="text-sm text-gray-500">
                        Created On
                    </label>
                    <div class="mt-1 text-sm text-gray-900">
                        <%= moment.utc(job.createdAt).local().format('ll') %>
                    </div>
                </div>
                <div class="">
                    <label class="text-sm text-gray-500">
                        Last Updated
                    </label>
                    <div class="mt-1 text-sm leading-5 text-gray-900">
                        <%= moment.utc(job.updatedAt).local().format('ll') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/page_end') %>
