<div x-data="menu()"
    class="w-full fixed top-0 left-0 z-40"
    style="background-image: linear-gradient( 90deg, rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );"
>
    <div class="max-w-4xl mx-auto flex justify-between items-center p-4 lg:px-0">
        <!-- logo -->
        <a href="/" class="text-lg text-white">
            <span class="font-light">Work</span
            ><span class="font-bold">Hays</span>
        </a>

        <!-- mobile menu button-->
        <div class="block lg:hidden text-white">
            <button
                x-on:click="open('showMobileMenu')"
                class="flex items-center focus:outline-none"
            >
                <span class="mr-2">
                    Menu
                </span>
                <i data-feather="menu" class=""></i>
            </button>
        </div>

        <!-- mobile menu -->
        <div
            x-show.transition.in.opacity.scale.100.duration.300.out.scale.100.opacity.duration.400="showMobileMenu"
            class="h-screen w-screen bg-overlay-500 fixed top-0 left-0 z-40 lg:hidden p-3"
        >
            <div
                x-show.transition="showMobileMenu"
                class="bg-white rounded shadow-lg m-3 overflow-x-scroll max-w-lg mx-auto"
            >
                <div class="flex justify-between items-center p-4 mb-3">
                    <!-- logo -->
                    <a href="/" class="text-lg">
                        <span class="font-light text-gray-600">Work</span
                        ><span class="font-bold">hays</span>
                    </a>
                    <!-- close x -->
                    <button
                        x-on:click="close('showMobileMenu')"
                        class="focus:outline-none"
                    >
                        <i data-feather="x" class="text-red-500"></i>
                    </button>
                </div>
                <ul class="flex flex-col mb-3">
                    <li class="px-3">
                        <a
                            href="/"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === '' ? 'text-blue-500 bg-gray-100' : activeUrl === 'jobs' ? 'text-blue-500 bg-gray-100' : null%>"
                        >
                            Jobs
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <li class="px-3">
                        <a
                            href="/employers"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === 'employers' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            Employers
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <li class="px-3">
                        <a
                            href="/about"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === 'about' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            About
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <li class="px-3">
                        <a
                            href="/contact"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1<%= activeUrl === 'contact' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            Contact
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <% if (user) { %>
                    <li class="px-3">
                        <a
                            href="/account"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === 'account' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            My Account
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <li class="px-3">
                        <a
                            href="/logout"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1"
                        >
                            Logout
                            <i data-feather="lock" class=""></i>
                        </a>
                    </li>
                    <% } else { %>
                    <li class="px-3">
                        <a
                            href="/signup"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === 'signup' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            Sign Up
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <li class="px-3">
                        <a
                            href="/signin"
                            class="flex justify-between items-center block py-3 px-3 rounded-lg hover:bg-gray-100 mb-1 <%= activeUrl === 'signin' ? 'text-blue-500 bg-gray-100' : null %>"
                        >
                            Sign In
                            <i data-feather="chevron-right" class=""></i>
                        </a>
                    </li>
                    <% }%>
                </ul>
            </div>
        </div>

        <!-- desktop menu -->
        <div class="hidden lg:block">
            <ul class="flex flex-row items-center">
                <li>
                    <a
                        href="/"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === '' ? 'bg-white text-blue-500 shadow' : activeUrl === 'jobs' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        Jobs
                    </a>
                </li>
                <li>
                    <a
                        href="/employers"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === 'employers' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        Employers
                    </a>
                </li>
                <li>
                    <a
                        href="/about"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === 'about' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        About
                    </a>
                </li>
                <li>
                    <a
                        href="/contact"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === 'contact' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        Contact
                    </a>
                </li>
                <% if (user) { %>
                <li class="relative">
                    <button
                        x-on:click="open('showAccountDropdown')"
                        class="py-0 px-3 transition ease-in-out duration-75 flex flex-row items-center hover:text-blue-500 focus:outline-none"
                    >
                        <span class="mr-1">
                            My Account
                        </span>
                        <svg
                            x-bind:class="{ 'rotate-180' : showAccountDropdown }"
                            class="transform transition duration-75 ease-in-out w-4 h-4"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            stroke="currentColor"
                            stroke-width="2"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </button>
                    <div
                        x-show.transition.origin.top.right="showAccountDropdown"
                        x-on:click.away="close('showAccountDropdown')"
                        @keydown.escape="close('showAccountDropdown')"
                        class="bg-white shadow-lg border rounded absolute right-0 mt-2"
                    >
                        <div class="rounded-md bg-white shadow-xs">
                            <div class="px-4 py-3">
                                <p class="text-sm leading-5">
                                    Signed in as
                                </p>
                                <p
                                    class="text-sm leading-5 font-medium text-gray-900"
                                >
                                    <%= user.email %>
                                </p>
                            </div>
                            <div class="border-t border-gray-100"></div>
                            <div class="py-1">
                                <a
                                    href="/account"
                                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                    >Account settings</a
                                >
                                <a
                                    href="/job-listing-new"
                                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                    >New Job Listing</a
                                >
                            </div>
                            <div class="border-t border-gray-100"></div>
                            <div class="py-1">
                                <a
                                    href="/logout"
                                    class="block w-full text-left px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                >
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <% } else { %>
                <li>
                    <a
                        href="/signup"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === 'signup' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        Sign Up
                    </a>
                </li>
                <li>
                    <a
                        href="/signin"
                        class="py-2 px-3 hover:bg-white hover:shadow hover:text-blue-500 transition ease-in-out duration-75 mr-2 rounded <%= activeUrl === 'signin' ? 'bg-white text-blue-500 shadow' : 'text-white' %>"
                    >
                        Sign In
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<script>
    function menu () {
        return {
            showMobileMenu: false,
            showAccountDropdown: false,
            open: function (key) {
                this[key] = true
            },
            close: function (key) {
                this[key] = false
            },
        }
    }
</script>
