<% var title, description, message %> <% var paddingBottom %>
<% var images = ['https://images.unsplash.com/photo-1557952138-db779780cd54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80', 'https://images.unsplash.com/photo-1483871788521-4f224a86e166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2389&q=80', 'https://images.unsplash.com/photo-1529479627062-5f1f0b88912a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2150&q=80','https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'] %>


<div
	class="text-white bg-center relative bg-no-repeat bg-cover"
	style="background-image: linear-gradient( 90deg,  rgba(107,52,255,1) 16.5%, rgba(51,159,247,0.5) 81% ),url(<%= images[Math.floor(Math.random() * images.length)] %>);"
>
	<%- include('./navbar.ejs') %>
	<div
		class="max-w-4xl mx-auto pt-14 pb-40 md:pb-16 px-4 lg:px-0"
	>
		<% if (req.query.from) { %>
			<a href="<%= req.query.from %>">
				<div
					class="relative inline-flex items-center px-3 py-2 text-sm font-medium rounded bg-white transition transform ease-in-out duration-150 shadow hover:-translate-y-0.1 mb-4"
					style="background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 100%);"
				>
					<i data-feather="arrow-left" class=""></i>
					Back
				</div>
			</a>
		<% } %>
		<h1
			class="font-extrabold text-4xl text-white leading-tight tracking-wide"
		>
			<%= title %>
		</h1>
		<p class="text-lg text-white">
			<%- description %>
		</p>
	</div>

	<!-- wave mobile -->
	<svg class="absolute bottom-0 left-0 block md:hidden z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" >
		<path fill="#f4f5f7" fill-opacity="1"
			d="M0,160L60,176C120,192,240,224,360,208C480,192,600,128,720,96C840,64,960,64,1080,90.7C1200,117,1320,171,1380,197.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
		</path>
	</svg>

	<!-- wave desktop -->
	<div class="h-32 hidden md:block z-10"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
			style="height: 100%; width: 100%;">
			<path d="M-2.54,107.06 C144.19,92.27 345.08,-2.45 499.72,91.28 L500.00,150.00 L0.00,150.00 Z"
				style="stroke: none; fill: #f4f5f7;"></path>
		</svg>
	</div>

</div>

<% if (activeUrl === 'admin') { %> <% if(flashMessages) {
if(flashMessages.success) { %>
	<div class="mx-4">
		<div
			class="bg-green-400 shadow rounded max-w-4xl mx-auto px-4 py-3 text-white mt-6"
		>
			Success. <%= flashMessages.success %>
		</div>
	</div>
<% } if(flashMessages.error) { %>
	<div class="mx-4">
		<div
			class="bg-red-500 shadow rounded max-w-4xl mx-auto px-4 py-3 text-white mt-6"
		>
			Error. <%= flashMessages.error %>
		</div>
	</div>
<% } %> <% } %> <% } %>
