<%- include('../partials/page_start', {title:'Employers', description: 'Browse all of the currently registered employers with Work Hays and contact information.'}) %>

<div class="max-w-4xl mx-auto px-4 lg:px-0">
        <div class="bg-white shadow rounded -mt-8 overflow-hidden">
            <ul>
                <% employers.forEach(function(employer,index) { %>
                    <% if(employer.title) { %>
                        <li class="<%= index === 0 ? 'border-t-none' : 'border-t-2' %> border-gray-100 hover:bg-gray-50 hover:text-blue-600 transform transition ease-in-out duration-75 group">
                            <a href="/employers/<%= employer.id %>" class="block w-full p-4 flex justify-between items-center">
                                <div class="w-8 h-8 bg-gray-300 bg-center bg-cover rounded-full shadow mr-2 items-center justify-center text-center flex text-sm font-bold text-white" 
                                style="<%= employer.logo_url !== '' ? `background-image:url('${employer.logo_url}')` : 'background-image: linear-gradient( 90deg, rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );'%>">
                                    <%= employer.logo_url === '' ? employer.title.charAt(0) : null %>
                                </div>
                                <div class="w-3/5 transform transition ease-in-out duration-150 group-hover:translate-x-1">
                                    <div class="text-xs text-gray-500 leading-none">
                                        <%= employer.contact %>
                                    </div>
                                    <div class="font-bold truncate">
                                        <%= employer.title %>
                                    </div>
                                </div>
                                <div class="flex flex-1 items-center justify-end">
                                    <span class="text-sm antialiased mr-2 hidden md:inline-block">
                                        View Details
                                    </span>
                                    <i data-feather="arrow-right" class=""></i>
                                </div>
                            </a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
    </div>
</div>

<%- include('../partials/page_end') %>
