<% /*
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/ %>

<%- include('../partials/page_start', {title: 'Work Hays'}) %>

<div class="max-w-6xl mx-auto py-12">
	<div class="mb-8 px-4 sm:px-6 lg:px-8 max-w-4xl mx-auto">
		<div class="text-2xl">
			Current Job Openings
		</div>
		<div>
			Browse current job openings in Hays, KS and surrounding areas.
		</div>
	</div>
	<div class="lg:px-8 max-w-4xl mx-auto">
		<div class="bg-white shadow overflow-hidden sm:rounded-md">
			<ul>
				
				<% jobs.forEach(function(job) { %>
					<li>
						<a href="/jobs/<%= job.id %>" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
						  <div class="px-4 py-4 sm:px-6">
							<div class="flex items-center justify-between">
							  <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
								<%= job.title %>
							  </div>
							  <div class="ml-2 flex-shrink-0 flex">
								<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
								  <%= job.job_type === 'full_time' ? 'Full Time' : 'Part Time' %>
								</span>
							  </div>
							</div>
							<div class="mt-2 sm:flex sm:justify-between">
							  <div class="sm:flex">
								<div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
								  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
									<path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
								  </svg>
								  <%= job.employer.title %>
								</div>
							  </div>
							  <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
								<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
								  <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
								</svg>
								<span>
								  <time datetime="2020-01-07"><%= moment
									.utc(job.updatedAt)
									.local()
									.format('MM/DD/YYYY') %></time>
								</span>
							  </div>
							</div>
						  </div>
						</a>
					  </li>
				<% }) %>
			</ul>

			<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
				<div class="hidden sm:block">
					<p class="text-sm leading-5 text-gray-700">
						Page
						<span class="font-bold">1</span>
						of
						<span class="font-bold"><%= pages %></span>
					  </p>
				</div>
				<div class="flex-1 flex justify-between sm:justify-end">
					<% if(current_page <= pages && current_page !== 1) { %>
						<a href="/?page=<%= current_page - 1 %>" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
							Previous
						</a>
					<% } else { %>
						<button disabled class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150 cursor-not-allowed opacity-50">
							Previous
						</button>
					<% } %>

					<% if(current_page < pages) { %>
						<a href="/?page=<%= current_page + 1 %>" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
							Next
						  </a>
					<% } else { %>
						<button disabled class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150 cursor-not-allowed opacity-50">
							Next
						</button>
					<% } %>
				</div>
			  </div>
		  </div>
	</div>
	
</div>

<%- include('../partials/email_signup.ejs') %>

<%- include('../partials/page_end') %>