<% /*
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/ %>

<%- include('../partials/page_start', {title: 'Work Hays'}) %>

<div class="py-12">
	<div class="mb-8 px-4 sm:px-6 lg:px-8 max-w-4xl mx-auto">
		<div class="text-2xl font-bold">
			Current Job Openings
		</div>
		<div class="text-gray-500 leading-5 md:leading-3">
			Browse current job openings in Hays, KS and surrounding areas.
		</div>
	</div>
	<div class="mb-2 px-4 sm:px-6 lg:px-8 max-w-4xl mx-auto">
		<p class="leading-5 text-gray-400 text-xs font-medium">
			Page
			<span class="font-bold">
				<%= current_page %>
			</span>
			of
			<span class="font-bold">
				<%= pages %>
			</span>
		  </p>
	</div>
	<div class="lg:px-8 max-w-4xl mx-auto">
		<div class="bg-white shadow overflow-hidden sm:rounded-md">
			<ul>
				
				<% jobs.forEach(function(job) { %>
					<li>
						<a href="/jobs/<%= job.id %>" class="block hover:bg-indigo-500 focus:outline-none focus:bg-indigo-600 transition duration-150 ease-in-out group border-b border-gray-200">
						  <div class="px-4 py-4 sm:px-6">
							<div class="flex items-center justify-between">
							  <div class="text-sm leading-4 font-bold text-indigo-600 truncate group-hover:text-white">
								<%= job.title %>
							  </div>
							</div>
							<div class="mt-2 sm:flex sm:justify-between items-center">
							  <div class="sm:flex">
								<div class="mr-6 flex items-center text-sm leading-3 text-gray-500 mb-1 md:mb-0">
								  <svg class="flex-shrink-0 mr-1.5 h-4 w-4 text-gray-400 group-hover:text-white" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
								  <span class="group-hover:text-white antialiased">
									<%= job.employer.title %>
								  </span>
								</div>
								<div class="mr-6 flex items-center text-sm leading-3 text-gray-500 antialiased">
									<svg class="flex-shrink-0 mr-1.5 h-4 w-4 text-gray-400 group-hover:text-white" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
									<span class="group-hover:text-white">
										Updated 
										<time datetime="2020-01-07"><%= moment
										  .utc(job.updatedAt)
										  .local()
										  .format('MM/DD/YYYY') %></time>
									</span>
								</div>
							  </div>
							</div>
						  </div>
						</a>
					  </li>
				<% }) %>
			</ul>

			<div class="bg-white px-4 py-3 flex items-center justify-between sm:px-6">
				<div class="hidden sm:block">
					<p class="text-sm leading-5 text-gray-700">
						Page
						<span class="font-bold">
							<%= current_page %>
						</span>
						of
						<span class="font-bold">
							<%= pages %>
						</span>
					  </p>
				</div>
				<div class="flex-1 flex justify-between sm:justify-end">
					<% if(current_page <= pages && current_page !== 1) { %>
						<a href="/?page=<%= current_page - 1 %>" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
							Previous
						</a>
					<% } else { %>
						<button disabled class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150 cursor-not-allowed opacity-50">
							Previous
						</button>
					<% } %>

					<% if(current_page < pages) { %>
						<a href="/?page=<%= current_page + 1 %>" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
							Next
						  </a>
					<% } else { %>
						<button disabled class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150 cursor-not-allowed opacity-50">
							Next
						</button>
					<% } %>
				</div>
			  </div>
		  </div>
	</div>
	
</div>

<%- include('../partials/email_signup.ejs') %>

<%- include('../partials/page_end') %>