<%/* 
===========================================================================

Description:
Single Job

To Do:

Params:


===========================================================================
*/%>
<!DOCTYPE html>
<html class="h-full" lang="en">
<body class='flex w-full flex-col h-full'>
<nav>
    <%- include('../partials/navbar', { title: 'Work Hays' }) %>
</nav>

<main class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl">
    <a href="/"><div class="flex flex-row items-center"><div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                                  stroke="#4299E1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather
                      feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5">
                    </polyline></svg></div><div class="ml-2 hover:underline">Back to All Listings</div></div></a>
    <div class="flex flex-col pt-4"><h2><%= title %></h2>
        <div class="flex flex-row italic text-gray-700 text-sm">
            <div>Employer: <%= employer %></div>&nbsp;&#183;&nbsp;<div>
                Posted: <%= updated_at %></div>
        </div><div class="mt-10 text-xl"><%= description %></div></div>
</main>

<footer class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b">
    <%- include('../partials/footer') %>
</footer>
</body>
</html>