<% /*
===========================================================================

Description:
Single Job

To Do:

Params:


===========================================================================
*/ %>
<%- include('../partials/page_start', {title:job.title}) %>

<div class="max-w-4xl mx-auto my-24">

	<div class="mb-6 px-3 lg:px-0">
		<a href="/" class="flex items-center text-blue-500 hover:underline text-base">
			<div><span class="mdi mdi-arrow-left"/></div>
			<div class="ml-2">Back to All Listings</div>
		</a>
	</div>

	<div class="bg-white rounded-none md:rounded shadow-md w-full overflow-hidden">
		<div class="border-b border-gray-200 p-3 flex flex-wrap justify-between items-center">
			<div class="w-full md:w-4/5">
				<div class="text-xl font-bold leading-6">
					<%= job.title %>
				</div>
				<div class="antialiased mb-2">
					Posted <%= moment.utc(job.createdAt).local().format('ll') %>
				</div>
				<div class="flex items-center flex-row flex-wrap mb-2">
					<% if (job.application_link) { %>
						<a href="<%= job.application_link %>" target="_blank" class="w-full md:w-auto bg-blue-500 text-white hover:bg-blue-600 transition duration-75 ease-in-out rounded px-4 py-2 md:py-1 md:text-sm border border-blue-500 hover:border-blue-600 text-center text-sm md:mr-3 mb-3 md:mb-0">
							Apply Online
						</a>
					<% } %>
					<a href="/employers/<%= job.employer.dataValues.id %>" class="w-full md:w-auto text-blue-500 hover:bg-blue-500 transition duration-75 ease-in-out rounded px-4 py-2 md:py-1 md:text-sm border border-blue-500 hover:border-blue-500 text-center hover:text-white text-sm">
						Contact Employer
					</a>
				</div>
			</div>
			<!-- <div class="w-full md:w-1/5 flex justify-end my-6 md:my-0">
				<a href="#" class="w-full lg:w-auto bg-blue-500 text-white hover:bg-blue-600 transition duration-75 ease-in-out rounded px-6 py-2 border border-blue-500 hover:border-blue-600 text-center">
					Apply Online
				</a>
			</div> -->
		</div>
		<div class="p-3">
			<div class="flex flex-wrap w-full">
				<div class="w-full lg:w-1/2 mb-5">
					<div class="text-sm leading-5 font-medium text-gray-500">
						Position Title
					</div>
					<div class="mt-1 text-sm leading-5 text-gray-900">
						<%= job.title %>
					</div>
				</div>
				<div class="w-full lg:w-1/2 mb-5">
					<div class="text-sm leading-5 font-medium text-gray-500">
						Full time / Part Time
					</div>
					<div class="mt-1 text-sm leading-5 text-gray-900">
						<%= job.job_type === 'full_time' ? 'Full Time' : 'Part Time' %>
					</div>
				</div>
				<div class="w-full lg:w-1/2 mb-5">
					<div class="text-sm leading-5 font-medium text-gray-500">
						Employer
					</div>
					<div class="mt-1 text-sm leading-5 text-gray-900">
						<%= job.employer.dataValues.title %>
					</div>
				</div>
				<div class="w-full lg:w-1/2 mb-5">
					<div class="text-sm leading-5 font-medium text-gray-500">
						Employer Contact
					</div>
					<div class="mt-1 text-sm leading-5 text-gray-900">
						<%= job.employer.dataValues.contact %>
					</div>
				</div>
				<div class="w-full">
					<div class="text-sm leading-5 font-medium text-gray-500">
						Description
					</div>
					<div class="mt-1 text-base leading-6 text-gray-900">
						<%- job.description %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/page_end') %>