<%- include('../../partials/page_start', {title: 'Dashboard', description: 'Manage job openings, business settings, and more.'}) %>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div class="col-span-1 md:col-span-6">
			<div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-3 gap-4">
				<% if(user.status === 'pending') { %>
					<div class="col-span-3 rounded shadow p-4 flex flex-col bg-white">
						<div class="text-lg mb-2">
							Status: <span class="font-bold text-orange-500">Pending</span>
						</div>
						<div class="text-gray-700">
							<p class="mb-3">
								Thank you for signing up with Work Hays. Your account request will be 
								reviewed and we may reach out to verify your identity. Once verified, 
								you will be able to post jobs. This may take up to 2 days.
							</p>
							<p>
								While you wait, please take a few minutes to add your employer details. <a href="/admin/business" class="underline hover:text-gray-900">Click here to manage your business.</a>
							</p>
							<p>
								<strong>If you have claimed a business</strong>, no further action is needed at this moment. Once we have reviewed your account, we will email you with further instructions.
							</p>
						</div>
					</div>
				<% } %>
				<% if(user.status === 'verified') { %>
					<% if (employerSetup) { %>
				<div class="col-span-1 sm:col-span-2 lg:col-span-1">
					<div class="flex flex-col p-4 bg-white rounded shadow">
						<div class="text-center font-bold text-xl leading-tight">
							<%= activeJobs %>
						</div>
						<div class="text-center text-gray-600 text-sm mb-3">
							Active Jobs
						</div>
						<div>
							
							<a href="/admin/jobs/new?from=<%= req.originalUrl %>" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-green-400 focus:outline-none focus:shadow-outline-green transition ease-in-out duration-150 shadow border border-green-400 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
								Create New Job
							</a>
						
						</div>
					</div>
				</div>
				<div class="col-span-1 sm:col-span-2 lg:col-span-1">
					<div class="flex flex-col p-4 bg-white rounded shadow">
						<div class="text-center font-bold text-xl leading-tight">
							<%= expiredJobs %>
						</div>
						<div class="text-center text-gray-600 text-sm mb-3">
							Expired Jobs
						</div>
						<div>
							
							<a href="/admin/jobs" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
								Manage Jobs
							</a>
				
						</div>
					</div>
				</div>
			<% } %>
				<div class="col-span-1 sm:col-span-2 lg:col-span-1">
					<div class="flex flex-col p-4 bg-white rounded shadow">
						<% if (employerSetup) { %>
							<div class="flex justify-center">
								<i data-feather="check-circle" class="w-7 h-7 text-green-400"></i>
							</div>
							<div class="text-center text-gray-600 text-sm mt-3">
								Business Setup Complete. You are now able to post and manage jobs.
							</div>
						<% } else { %>
							<div class="flex justify-center">
								<i data-feather="alert-circle" class="w-7 h-7 text-red-600"></i>
							</div>
							<div class="text-center text-gray-600 text-sm mb-4">
								Incomplete business profile. Update your business to post jobs.
							</div>
							<div>
								<a href="/admin/business" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
									My Business
								</a>
							</div>
						<% } %>
					</div>
				</div>
			<% } %>
			</div>
		</div>
	</div>
</div>




<%- include('../../partials/page_end') %>