<%- include('../../partials/page_start', {title: 'Edit',description: 'Update your job listing or archive for later use.'}) %>

<style>
	trix-toolbar [data-trix-attribute='quote'],
	trix-toolbar [data-trix-attribute='code'],
	trix-toolbar [data-trix-button-group='file-tools'] {
	  display: none;
	}

	button.trix-button.trix-button--icon.trix-button--icon-increase-nesting-level {
    display: none;
}

button.trix-button.trix-button--icon.trix-button--icon-decrease-nesting-level {
    display: none;
}

#description_input_trix ul {
    list-style-type: disc;
    list-style-position: inside;
}

#description_input_trix ol {
    list-style-type: decimal;
    list-style-position: inside;
}
</style>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div x-data="editJob()" x-init="isActive = <%= job.status === 'active' ? true : false %>" class="col-span-1 md:col-span-6">
			<!-- content -->

			<% if(job.status !== 'archived') { %>
				<% if (job.renewed < moment.tz(moment(), 'America/Chicago').subtract(14, 'days').endOf('day')){ %>
					<form method="POST" action="/jobs/renew/<%= job.id %>">
						<div class="mb-8 p-4 bg-orange-100 text-orange-900 shadow rounded flex justify-between items-center">
							<div>
								<div class="text-lg font-medium">
									Job Expired
								</div>
								<div class="text-sm">
									This job posting has expired. Renew now for an additional 2 weeks.
								</div>
							</div>
							<div>
								<button type="submit" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-orange-500 focus:outline-none focus:shadow-outline-orange transition ease-in-out duration-150 shadow border border-orange-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
									Renew
								</button>
							</div>
						</div>
					</form>
				<% } %>
			<% } %>

			<div x-show="showErrorMessage" class="mb-8 p-4 bg-red-500 rounded shadow text-white flex items-center mx-4 lg:mx-0" style="display:none;">
				<div class="mr-4">
					<i data-feather="alert-circle" class="w-5 h-5"></i>
				</div>
				<div>
					<p class="font-bold leading-5">
						Error
					</p>
					<p class="text-base leading-tight">
						Something went wrong. Make sure a job title, description, and industry are provided.
					</p>
				</div>
			</div>

			<% if(job.status !== 'archived') { %>
				<form x-on:submit="return validateForm()" method="post" action="<%= '/jobs/edit/' + job.id %>">
			<% } %>
				<div class="flex flex-wrap justify-between items-center mb-4 px-4 lg:px-0">
					<div class="w-full md:w-2/3 mb-3 md:mb-0">
					<% if(job.status !== 'archived') { %>
						<div class="text-lg font-semibold">
							Edit Job
						</div>
						<div class="antialiased text-sm">
							Update details or renew your job listing. This listing will expire on <%= moment.tz(job.renewed, 'America/Chicago').add(14, 'days').endOf('day').format('LL') %>
						</div>
					<% } else { %>
						<div class="text-lg font-semibold">
							Archived Job
						</div>
						<div class="antialiased text-sm">
							View details from an archived job listing. These details cannot be updated or modified.
						</div>
					<% } %>
					</div>
					<div class="w-full md:w-auto">
						<% if(job.status !== 'archived') { %>
							<button x-on:click="isArchiving = false" type="submit" name="action_button" value="update" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-green-400 focus:outline-none focus:shadow-outline-green transition ease-in-out duration-150 shadow border border-green-400 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
								Save Changes
							</button>
						<% } %>
					</div>
				</div>
				<div class="grid grid-span-6 gap-4 px-4 lg:px-0 <%= job.status === 'archived' ? 'opacity-75' : null %>">
					<div class="col-span-6">
						<% if(job.status !== 'archived') { %>
						<label class="text-sm text-gray-600 mb-2">
							Status
						</label>
						<div class="flex flex-row items-center">

							<div :class="{ 'bg-gray-200': !isActive, 'bg-green-400': isActive }" class="relative inline-block flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" role="checkbox" tabindex="0" @click="toggle()" @keydown.space.prevent="toggle()" :aria-checked="isActive.toString()">
								<input name="status" hidden x-model="isActive ? 'active' : 'inactive'"/>
								<span aria-hidden="true" :class="{ 'translate-x-5': isActive, 'translate-x-0': !isActive }" class="inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200">

								</span>
							</div>
							<div x-text="isActive ? 'active' : 'inactive'" class="ml-2 font-semibold uppercase text-xs tracking-wide text-gray-600">

							</div>
						</div>
						<% } %>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							* Job Title
						</label>
						<input <%= job.status === 'archived' ? 'disabled' : null %> id="job_title" name="title" value="<%= job.title %>" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="Acme Inc." />
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							* Industry <%= job.industry ? 'test' : 'null' %>
						</label>
						<div class="inline-block relative w-full">
							<select
								name="industry"
								id="industry"
								<%= job.status === 'archived' ? 'disabled' : null %>
								class="block appearance-none w-full bg-white shadow px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
								<% if(!job.industry) { %>
									<option selected value="null">Select Industry...</option>
								<% } %>
								<% industries.forEach(function(industry) { %>
								<option value="<%= industry.value %>" <%= job.industry === industry.value ? 'selected' : null %>>
									<%= industry.title %></option>
								<% }) %>
							</select>
							<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
								<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
									<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
							</div>
						</div>
					</div>
					<div class="col-span-6 md:col-span-3">
						<div class="text-sm text-gray-600 mb-2">
							<label class="text-sm text-gray-600 mb-2">
								Full Time or Part Time
							</label>
						</div>
						<label class="inline-flex items-center">
							<input <%= job.status === 'archived' ? 'disabled' : null %> <%= job.job_type === 'full_time' ? 'checked' : null %> type="radio" class="form-radio text-indigo-500" name="job_type" value="full_time">
							<span class="ml-2">Full Time</span>
						  </label>
						  <label class="inline-flex items-center ml-6">
							<input <%= job.status === 'archived' ? 'disabled' : null %> <%= job.job_type === 'part_time' ? 'checked' : null %> type="radio" class="form-radio text-indigo-500" name="job_type" value="part_time">
							<span class="ml-2">Part Time</span>
						</label>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							* Job Description
						</label>
						<% if(job.status !== 'archived') { %>
						<input value="<%= job.description %>" type="hidden" name="description" id="description_input">
						<trix-editor id="description_input_trix" input="description_input" class="bg-white border-none shadow rounded focus:shadow-outline-blue px-3 py-2" placeholder="Describe the job position opening with as much or little detail as desired."></trix-editor>
						<% } else { %>
							<div class="bg-white border-none shadow rounded focus:shadow-outline-blue px-3 py-2" style="min-height:4rem;">
								<%- job.description %>
							</div>
						<% } %>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							Application Link
						</label>
						<input <%= job.status === 'archived' ? 'disabled' : null %> name="application_link" value="<%= job.application_link %>" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="https://yoursite.com/application" />
					</div>
				</div>
				<div class="flex flex-wrap justify-between items-center mt-4 px-4 lg:px-0">
					<div class="w-full md:w-2/3 mb-3 md:mb-0">

					</div>
					<div class="w-full flex items-center justify-between">
						<% if(job.status !== 'archived') { %>
							<button x-on:click="isArchiving = true" type="submit" name="action_button" value="archive" class="flex items-center inline-block px-3 py-2 text-center text-sm font-medium rounded bg-gray-200 text-gray-600 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-gray-200 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
								<i data-feather="archive" class="w-4 h-4 mr-2"></i> Archive Job
							</button>
						<% } %>

						<% if(job.status !== 'archived') { %>
							<button x-on:click="isArchiving = false" type="submit" name="action_button" value="update" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-green-400 focus:outline-none focus:shadow-outline-green transition ease-in-out duration-150 shadow border border-green-400 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
								Save Changes
							</button>
						<% } %>

					</div>
				</div>
			<% if(job.status !== 'archived') { %>
				<form/>
			<% } %>
			<!-- content end -->
		</div>
	</div>
</div>

<script>
	function editJob () {
		return {
			isActive: false,
			showErrorMessage: false,
			isArchiving: false,
			validateForm: function () {
				this.showErrorMessage = false

				// check if user is trying to archive first and warn
				// TO-DO : probably make a nice modal?
				if(this.isArchiving) {
					var alertMessage = "Are you sure you wish to archive this job? This cannot be reversed, but you will be able to view job details for future use."

					var confirmArchive = window.confirm(alertMessage)

					if(!confirmArchive) {
						return false
					}

				} else {
					// required fields
					var title = document.getElementById('job_title').value
					var description = document.getElementById('description_input').value
					var industry = document.getElementById('industry').value

					console.log(industry)

					if (title === '' || description === '' || industry === 'null') {
						this.showErrorMessage = true
						return false
					}
				}
			},
			toggle: function () {
				this.isActive = !this.isActive
			}
		}
	}
</script>

<%- include('../../partials/page_end') %>