<%- include('../../partials/page_start', {title: 'Edit',description: 'Update your job listing or archive for later use.'}) %>

<style>
	trix-toolbar [data-trix-attribute='quote'],
	trix-toolbar [data-trix-attribute='code'],
	trix-toolbar [data-trix-button-group='file-tools'] {
	  display: none;
	}
</style>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div class="col-span-1 md:col-span-6">
			<!-- content -->
			<form method="post" action="<%= '/jobs/edit/' + job.id %>">
				<div class="flex flex-wrap justify-between items-center mb-4 px-4 md:px-0">
					<div class="w-full md:w-2/3 mb-3 md:mb-0">
						<div class="text-lg font-semibold">
							Edit Job
						</div>
						<div class="antialiased text-sm">
							Update details or renew your job listing.
						</div>
					</div>
					<div class="w-full md:w-auto">
						<button type="submit" name="action_button" value="update" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
							Save Changes
						</button>
					</div>
				</div>
				<div class="grid grid-span-6 gap-4 px-4 lg:px-0">
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							Status
						</label>
						<div x-data="{ value: false, toggle() { this.value = !this.value } }" x-init="value = <%= job.status === 'active' ? true : false %>" class="flex flex-row items-center">
							<div :class="{ 'bg-gray-200': !value, 'bg-green-400': value }" class="relative inline-block flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" role="checkbox" tabindex="0" @click="toggle()" @keydown.space.prevent="toggle()" :aria-checked="value.toString()">
								<input name="status" hidden x-model="value ? 'active' : 'inactive'"/>
								<span aria-hidden="true" :class="{ 'translate-x-5': value, 'translate-x-0': !value }" class="inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200">
	
								</span>
							</div>
							<div x-text="value ? 'active' : 'inactive'" class="ml-2 font-semibold uppercase text-xs tracking-wide text-gray-600">
								
							</div>
						</div>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							* Job Title
						</label>
						<input name="title" value="<%= job.title %>" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="Acme Inc." />
					</div>
					<div class="col-span-6 md:col-span-3">
						<div class="text-sm text-gray-600 mb-2">
							<label class="text-sm text-gray-600 mb-2">
								Full Time or Part Time
							</label>
						</div>
						<label class="inline-flex items-center">
							<input <%= job.job_type === 'full_time' ? 'checked' : null %> type="radio" class="form-radio text-indigo-500" name="job_type" value="full_time">
							<span class="ml-2">Full Time</span>
						  </label>
						  <label class="inline-flex items-center ml-6">
							<input <%= job.job_type === 'part_time' ? 'checked' : null %> type="radio" class="form-radio text-indigo-500" name="job_type" value="part_time">
							<span class="ml-2">Part Time</span>
						</label>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							* Job Description
						</label>
						<input value="<%= job.description %>" type="hidden" name="description" id="description_input">
						<trix-editor input="description_input" class="bg-white border-none shadow rounded focus:shadow-outline-blue px-3 py-2" placeholder="Describe the job position opening with as much or little detail as desired."></trix-editor>
					</div>
					<div class="col-span-6">
						<label class="text-sm text-gray-600 mb-2">
							Application Link
						</label>
						<input name="application_link" value="<%= job.application_link %>" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="https://yoursite.com/application" />
					</div>
				</div>
				<div class="flex flex-wrap justify-between items-center mt-4 px-4 md:px-0">
					<div class="w-full md:w-2/3 mb-3 md:mb-0">
						
					</div>
					<div class="w-full md:w-auto">
						<button type="submit" name="action_button" value="update" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
							Save Changes
						</button>
					</div>
				</div>
			</form>
			<!-- content end -->
		</div>
	</div>
</div>

<%- include('../../partials/page_end') %>