<%- include('../../partials/page_start', {title: 'Jobs', description: 'Create, update, modify or archive job listings.'}) %>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div class="col-span-1 md:col-span-6">
			<!-- content -->
			<div>
				<div class="flex flex-wrap justify-between items-center mb-4 px-4 md:px-0">
					<div class="w-full md:w-2/3 mb-3 md:mb-0">
						<div class="text-lg font-semibold">
							Jobs
						</div>
						<div class="antialiased text-sm">
							Manage your current active and expired job postings.
						</div>
					</div>
					<div class="w-full md:w-auto">
						<a href="/admin/jobs/new?from=<%= req.originalUrl %>" class="block px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
							Create New
						</a>
					</div>
				</div>
				<div class="bg-white shadow rounded overflow-hidden mb-12">
					<ul>
						<% jobs.forEach(function(job,index) { %>
							<% if(job.status === 'active' || job.status === 'inactive') { %>
							<li class="<%= index === 0 ? 'border-t-none' : 'border-t-2' %> border-gray-100 hover:bg-gray-50 transform transition ease-in-out duration-75 group">
								<a href="/admin/jobs/<%= job.id %>?from=<%= req.originalUrl %>" class="block w-full p-4 flex justify-between items-center">
									<div class="w-4/5 transform transition ease-in-out duration-150 group-hover:translate-x-1">
										<div class="text-sm truncate group-hover:underline group-hover:text-blue-500">
											<%= job.title %>
										</div>
									</div>
									<div class="flex flex-1 items-center justify-end">
										<span class="text-gray-400 uppercase tracking-wide font-bold text-xs mr-3">
											<%= job.formattedStatus %>
										</span>
										<% if (job.formattedStatus === 'active') { %>
											<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-green-500"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
										<% } %>
										<% if (job.formattedStatus === 'expired') { %>
											<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-orange-400"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
										<% } %>
										<% if (job.formattedStatus === 'inactive') { %>
											<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-red-600"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
										<% } %>
										
									</div>
								</a>
							</li>
							<% } %>
						<% }) %>
					</ul>
				</div>

				<div class="flex flex-wrap justify-between items-center mb-4 px-4 md:px-0">
					<div class="w-full mb-3 md:mb-0">
						<div class="text-lg font-semibold">
							Archived Jobs
						</div>
						<div class="antialiased text-sm">
							View your archived and past job openings. Archived jobs are not allowed
							to be updated or deleted. You can create a new job based off an archived position details.
						</div>
					</div>
				</div>
				<div class="bg-white shadow rounded overflow-hidden mb-12">
					<ul>
						<% jobs.forEach(function(job,index) { %>
							<% if(job.status === 'archived') { %>
							<li class="<%= index === 0 ? 'border-t-none' : 'border-t-2' %> border-gray-100 hover:bg-gray-50 transform transition ease-in-out duration-75 group">
								<a href="/admin/jobs/<%= job.id %>?from=<%= req.originalUrl %>" class="block w-full p-4 flex justify-between items-center">
									<div class="w-4/5 transform transition ease-in-out duration-150 group-hover:translate-x-1">
										<div class="text-sm truncate group-hover:underline group-hover:text-blue-500">
											<%= job.title %> <%= index %>
										</div>
									</div>
									<div class="flex flex-1 items-center justify-end">
										<span class="text-gray-400 uppercase tracking-wide font-bold text-xs mr-3">
											<%= job.status %>
										</span>
										<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-blue-400"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
									</div>
								</a>
							</li>
							<% } %>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../../partials/page_end') %>